.hero {
  overflow: visible;
  position: relative;
}
.hero__container {
  overflow: visible;
}
.hero__container::before,
.hero__container::after {
  z-index: -1;
  content: "";
  position: absolute;
  box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
  background: rgb(68, 117, 242);
  height: 150%;
  width: 100vw;
  border-radius: 50px;
  transform-origin: left bottom;
  bottom: 0;
  transition: left 0.5s ease;
  left: 50%;
}
.hero__container::before {
  left: calc(50% + 3%);
  transform: skewX(-30deg);
}

.hero__container::after {
  left: calc(50% + 30%);
  transform: skewX(30deg);
}
.hero__body {
  position: relative;
  align-items: center;
  display: flex;
  gap: 30px;
}
.hero__content {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: clamp(0.333rem, 1.786vw + 0.143rem, 1rem);
}
.hero__title {
  font-size: clamp(2rem, 1.1964rem + 4.0179vw, 4.8125rem);
  font-weight: 800;
  letter-spacing: -4%;
  color: rgb(24, 30, 75);
  line-height: 117.1%;
  span {
    color: rgb(68, 117, 242);
    text-decoration: underline;
  }
}
.hero__text {
  max-height: 120px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.text {
  max-height: 120px;
  color: rgb(94, 98, 130);
  font-weight: 400;
  line-height: 187.5%;
}
.hero__container:hover,
span,
.text {
  mix-blend-mode: difference; // Изменение цвета текста при прикосновении к фону
}
.hero__btn {
  position: relative;
  color: rgb(255, 255, 255);
  max-width: 200px;
  min-width: 200px;
  min-height: 60px;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0px 30px 60px 0px rgba(68, 117, 242, 0.25);
  background: rgb(68, 117, 242);
  transition: transform 0.15s;
  transform-style: preserve-3d;
}

.hero__btn::before {
  position: absolute;
  border-radius: inherit;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(13, 52, 152);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 0.15s, box-shadow 0.15s;
}
.hero__btn:hover {
  transform: translate(0, 0.25em);
}
.hero__btn:hover::before {
  box-shadow: 0 0 0 2px rgb(14, 43, 115), 0 0.5em 0 0 rgb(86, 116, 193);
  transform: translate3d(0, 0.5em, -1em);
}
.hero__btn:active {
  transform: translate(0em, 0.75em);
}
.hero__btn:active::before {
  box-shadow: 0 0 0 2px rgb(14, 43, 115), 0 0 rgb(86, 116, 193);
  transform: translate3d(0, 0, -1em);
}

// Правый блок  с картинками
.hero__images {
  flex: 0 1 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-bottom: 20px;
}
.item__img {
  cursor: pointer;
  img {
    border-radius: 10px;
  }
}
.item__img:nth-child(1) {
  align-self: end;
  grid-column: 1;
  grid-row: 2/3;
}
.item__img:nth-child(2) {
  align-self: end;
  grid-column: 2;
  grid-row: 1/2;
}
.item__img:nth-child(3) {
  align-self: center;
  justify-self: center;
  grid-column: 3;
  grid-row: 1/3;
}
.item__img:nth-child(4) {
  align-self: end;
  justify-self: end;
  grid-column: 2;
  grid-row: 2/3;
}

@media (max-width: 1072px) {
  .hero__body {
    display: flex;
    flex-direction: column;
  }
  .hero__images {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .hero__body {
  }
}

swiper-container {
  display: none;
}
@media (max-width: 678px) {
  .item__img {
    display: none;
  }
  swiper-container {
    display: block;
  }
  .hero__content {
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    flex-direction: column;
    margin: 0 auto;
  }
  .hero__title,
  .hero__text {
    width: 100%;
    text-align: center; /* Центрирование текста по горизонтали */
  }

  .hide-on-small-screen {
    display: none;
  }
  .hero__images {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-grow: 1;
  }

  swiper-container {
    width: 30%;
    height: 40%;
    position: relative;
    object-fit: contain;
    overflow: hidden; /* Добавьте overflow: hidden, чтобы обрезать содержимое, выходящее за пределы блока */
  }

  .swiper-slide {
    position: relative;
    width: 100%; /* Задайте ширину для каждого слайда, чтобы они полностью вмещались в блок */
    box-sizing: border-box; /* Учтите границы и padding в ширине слайда */
  }

  swiper-slide img {
    border-radius: 10px;
    width: 100%;
    height: 100%; /* Чтобы изображения подстраивались под высоту слайда */
    object-fit: fill;
  }
}

@media (max-width: 459px) {
  .hero__btn {
  }
}
