<section class="services">
  <div class="services__container">
    <div class="services__block_title block_title">
      <label for="" class="features-label label">SERVICES</label>
      <h2 class="title__services title" title>The Services for You</h2>
    </div>
    <div class="services__content">
      <div class="contant__block contant__block-one">
        <div class="content__img">
          <img src="assets/img/services/hall.png" alt="hall" />
        </div>
        <div class="contnent__info">
          <h3 class="info__title info__title-one">
            <span>Rent</span> your favorite book fairly easy on
            <span>Lidia</span>!
          </h3>
          <div class="info__block">
            <div class="info__text">
              <p class="text-one">
                Viewing, rent, and organize your favorite books has never been
                easier. An integrated digital library rent that’s simple to use,
                Lidia lets you spend less time managing your work and more time
                actually doing it!
              </p>
              <p class="text-two">
                Effortless rentals, personalized shelves—Lidia transforms book
                management, enhancing your reading experience~
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="contant__block contant__block-two">
        <div class="content__img">
          <img src="assets/img/services/hall.png" alt="librery" />
        </div>
        <div class="contnent__info">
          <h3 class="info__title info__title-two">
            Quick Book Rentals:<br />
            <span>Dive</span> into <span>Reading</span> Instantly
          </h3>
          <div class="info__block">
            <div class="info__text">
              <p class="text-one">
                Discover instant literary delight. Access a vast library, borrow
                your favorite reads, and dive into captivating stories within
                minutes. Reading made quick and easy, just a click away!
              </p>
              <p class="text-two text-two_second">
                Unlock a world of stories effortlessly. Browse genres, choose,
                rent in minutes. Seamlessly manage your reading adventures with
                our intuitive platform~
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
