<section class="location">
  <div class="location__container">
    <div class="location__block_title block_title">
      <label for="" class="location-label label">SERVICES</label>
      <h2 class="title__location title" title>The Services for You</h2>
    </div>
    <div class="location__google">
      <div class="google__map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5082855.9573569!2d32.6147351!3d51.5340678!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a11f51a85941%3A0x2dd2bbcd6542bb59!2z0KbQtdC90YLRgNCw0LvRjNC90LDRjyDQs9C-0YDQvtC00YHQutCw0Y8g0LHQuNCx0LvQuNC-0YLQtdC60LAg0LjQvC4g0JIu0JMuINCR0LXQu9C40L3RgdC60L7Qs9C-!5e0!3m2!1sru!2sua&zoom=8"
          width="1200"
          height="400"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
